<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <input type="button" th:onclick="move([[${kakaoUrl}]])" value="kakao"/>
    <input type="button" th:onclick="move([[${googleUrl}]]);" value="google"/>
    <input type="button" onclick="move('facebook');" value="facebook"/>
    <input type="button" th:onclick="move([[${naverUrl}]]);" value="naver"/>

    <form method="post" name="" id="" action="">
        <input type="hidden" name="" value="">
        <input type="hidden" name="" value="">
    </form>

    <script>
        function move(url){
            location.href = url;
        }
    </script>
</body>
</html>