<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div th:text="${token.access_token}"></div>
    <form method="post" name="frm" id="frm" action="">
        <input type="hidden" name="accessToken" th:value="${token.access_token}">
    </form>

    <input type="button" value="로그아웃" th:onclick="logout([[${path}]]);"/>

    <script>
        function logout(path){
            if(path == 'google')
                window.open('https://accounts.google.com/logout', 'googleLogout', 'width=600, height=400');

            formSubmit(path);
        }

        function formSubmit(path){
            document.frm.action = '/' + path + '/logout';
            document.frm.submit();
        }

    </script>
</body>
</html>